var utils = require('../wxs/utils.wxs');
var style = require('../wxs/style.wxs');

function isSelected(tab, textKey, option) {
  return tab.selected && tab.selected[textKey] === option[textKey]
}

function optionClass(tab, textKey, option) {
  return utils.bem('cascader__option', { selected: isSelected({ tab, textKey, option }), disabled: option.disabled })
}

function optionStyle(data) {
  var color = data.option.color || (isSelected(data.tab, data.textKey, data.option) ? data.activeColor : undefined);
  return style({
    color
  });
}


module.exports = {
  isSelected: isSelected,
  optionClass: optionClass,
  optionStyle: optionStyle,
};