"use strict";var inlineTags={abbr:1,b:1,big:1,code:1,del:1,em:1,i:1,ins:1,label:1,q:1,small:1,span:1,strong:1};module.exports={load:function(e){e.target.dataset.auto&&e.instance.setStyle({width:e.detail.width+"px"})},visited:function(e,i){e.instance.hasClass("_visited")||e.instance.addClass("_visited"),i.callMethod("linkpress",e)},useRichText:function(e){return!e.c&&!inlineTags[e.name]&&-1==(e.attrs.style||"").indexOf("display:inline")}};